header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

#navi {
    display: flex;
    align-items: right;
    flex-direction: row;
}

.column {
    display: flex;
}

.large {
    width: 630px;
    display: flex;
}

.medium {
    width: 300px;
    display: flex;
}

.small {
    width: 240px;
    display: flex;
}